.footer {
  width: 100%;
  height: 70px;
  background-color: #2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  margin-left: 20px;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}
.footer p:hover {
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
