.container-detalhe {
  max-width: 800px;
  margin: 20px auto 20px;
  padding: 0 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.container-detalhe label {
  margin: 20px auto 0;
  font-size: 25px;
  font-weight: bolder;
  color: #696565;
}
.container-detalhe h1 {
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 50px;
}
.container-detalhe img {
  margin-bottom: 30px;
  max-width: 750px;
  border-radius: 4px;
}
.container-detalhe img:hover {
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}
.container-detalhe .text {
  margin-top: 40px;
  margin-bottom: 50px;
  max-width: 750px;
  font-size: 22px;
  letter-spacing: 0.5px;
}
